.container {
    position: relative;
    text-align: center;
  }

.top_center{
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.bröd{
    text-align: center;
    color: white;
    font-size: larger;
}

.bröd_li{
    margin-left: 25%;
    text-align: left;
    color: white;
    font-size: larger;
}


.wide{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
    display:inline-block;
    width: 85%;
    border: 2px;
    border-radius: 2px;
    border-color: #BF616A;
    border-style: solid;
}

.lang_props{
    text-align: center;
    color: #BF616A;
    font-size: small;
    margin: 0;
    padding: 0;
}

.centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.relative_centered{
    
    position: relative;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    padding: 0;
}

 .projHeader h1{
    color: white;
    font-size: 60px;
    text-decoration: underline;
    background-color:rgba(0, 0, 0, 0.0);
  }
  
  .socialbtns ul{
    margin: 0;
    padding: 0;
    transform: translate(-25px, -50%);
    color: #BF616A;
  }

  .socialbtns li{
    font-size: 75px;
    padding-left: 50px;
    display: inline;
    width: 40px;
    height: 100px;
    
  }

  .prog_språk li{
    display: inline-block;
    margin: 0 10px;
    
  }

  .prog_språk h3{
    display: inline-block;
    margin: 0 10px;
  }